<div class="container">
<p id="notice"><%= notice %></p>
<br></td>
<p><h4><b>Details Of Your Income Category:</b></h4></p>
<%= link_to 'Edit', edit_income_category_path(@income_category) %> |
<%= link_to 'Back', income_categories_path %>
<table class="table">
   <thead><th><p>Income Source: <%= @income_category.income_source %><br/></p></th></thead>
   <thead><th><p>  Description: <%= @income_category.desc %><br/></p></th></thead>
</table>
</div>